/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
  margin-bottom: 30px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
}

button {
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Resultado dos números */
.numeros {
  display: flex;
  gap: 15px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  margin-top: 20px;
}

.menor {
  color: rgb(9, 255, 9);
}

.medio {
  color: rgb(217, 255, 0);
}

.maior {
  color: red;
}
